:root {
  --animation-duration: 0.25s;
}

:global(.box) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
  margin: auto;
}

:global(.peekaboo) {
  position: relative;
  overflow: hidden;

  & :global(.inner) {
    position: relative;

    & :global(.shadow) {
      position: absolute;
      top: 10px;
      right: 10px;
      bottom: 40px;
      left: 40px;
      background: #da8763;
      z-index: 0;
    }

    & img {
      position: relative;
      margin: 40px 40px 10px 10px;
      width: 250px;
      z-index: 1;
    }
  }

  &.init,
  &.hidden {
    & :global(.inner) {
      position: relative;

      & :global(.shadow),
      & img {
        opacity: 0;
      }
    }

    &:global(.fromTop) {
      & img,
      & :global(.shadow) {
        transform: translate3d(0, -100%, 0);
      }
    }

    &:global(.fromRight) {
      & img,
      & :global(.shadow) {
        transform: translate3d(100%, 0, 0);
      }
    }

    &:global(.fromBottom) {
      & img,
      & :global(.shadow) {
        transform: translate3d(0, 100%, 0);
      }
    }

    &:global(.fromLeft) {
      & img,
      & :global(.shadow) {
        transform: translate3d(-100%, 0, 0);
      }
    }

    &.onscreen {
      & :global(.inner) {
        animation-name: empty-ani;
      }

      & :global(.shadow) {
        animation-timing-function: ease-in-out;
        animation-name: show-me;
      }

      & :global(.inner),
      & :global(.shadow) {
        animation-duration: var(--animation-duration);
      }
    }

    &.onscreen {
      & img {
        transition:
          transform var(--animation-duration) ease-in-out,
          opacity var(--animation-duration) ease-in-out;
        transform: translate3d(0, 0, 0);
        transition-delay:
          calc(var(--animation-duration) / 2),
          calc(var(--animation-duration) / 2);
        opacity: 1;
      }
    }

    &.visible {
      & img {
        transition: none;
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }

    &.offscreen {
      & :global(.inner),
      & :global(.shadow) {
        animation: none;
      }
    }

    &.visible,
    &.done {
      & :global(.inner),
      & :global(.shadow) {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        animation: none;
      }
    }
  }

  & img {
    max-width: 100%;
  }
}

.error { /* hasError */ }
.loading { /* isLoading */ }
.loaded { /* hasLoaded */ }
.animating { /* isAnimating */ }

@keyframes show-me {
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes empty-ani {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }
}

.spinner {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3em;
  background: #333;
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
}
